* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  text-align: center;
  background-image: url(../assets/texturamarmol.jpg);
  background-size: cover;
  height: 89px;
  top: 0px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 5px 10px; }
  header h1 {
    position: sticky;
    text-align: center;
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: bolder;
    font-size: 68px;
    letter-spacing: 6px;
    line-height: 86px;
    color: antiquewhite; }
    header h1 a {
      text-decoration: none;
      color: black; }
  header .navbar ul {
    position: absolute;
    background-image: url(../assets/texturamarmol.jpg);
    height: 95px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 10px;
    width: 100%;
    height: 45px;
    top: 92px; }
    header .navbar ul li {
      display: inline-flex;
      justify-content: space-evenly;
      list-style: none;
      padding: 15px;
      font-family: 'Cinzel Decorative';
      font-style: normal;
      font-weight: 1200;
      font-size: 25px;
      line-height: 12px; }
      header .navbar ul li a {
        text-decoration: none;
        color: black; }

.maininicio {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 140px;
  border: 1px solid #000000; }
  .maininicio .bgimageinicio {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../assets/imginicio.jpg);
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }
    .maininicio .bgimageinicio .grid-index {
      display: grid;
      height: 100%;
      width: 100%;
      margin-bottom: 100px;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.6fr 1.6fr 0.2fr 1.6fr;
      gap: 0px 0px;
      grid-template-areas: ". tituloinicio tituloinicio tituloinicio ." "breveautor breveautor breveautor breveautor ." ". . . . ." ". breveilus breveilus breveilus breveilus"; }
      .maininicio .bgimageinicio .grid-index .tituloinicio {
        grid-area: tituloinicio;
        margin-top: 3%; }
        .maininicio .bgimageinicio .grid-index .tituloinicio h2 {
          position: sticky;
          text-align: center;
          font-family: 'Cinzel Decorative';
          font-style: normal;
          font-weight: bolder;
          font-size: 45px;
          letter-spacing: 2px;
          line-height: 40px;
          color: antiquewhite; }
      .maininicio .bgimageinicio .grid-index .breveautor {
        grid-area: breveautor;
        display: flex;
        flex-flow: row nowrap; }
        .maininicio .bgimageinicio .grid-index .breveautor .breveautorimg {
          width: 25%;
          height: 100%;
          display: flex;
          flex-flow: column;
          background-image: url(../assets/imgfondoautor.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: bottom right; }
        .maininicio .bgimageinicio .grid-index .breveautor .breveautortxt {
          height: 100%;
          width: 75%;
          display: flex;
          flex-flow: column;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
          text-align: center;
          color: white;
          font-size: 25px;
          justify-content: right;
          align-self: right; }
        .maininicio .bgimageinicio .grid-index .breveautor h2 {
          margin-top: 50px;
          color: antiquewhite;
          display: block;
          position: sticky;
          text-align: center;
          font-family: 'Cinzel Decorative';
          font-style: normal;
          font-weight: bold;
          font-size: 35px;
          letter-spacing: 1px; }
      .maininicio .bgimageinicio .grid-index .breveilus {
        grid-area: breveilus;
        display: flex;
        flex-flow: row-reverse nowrap; }
        .maininicio .bgimageinicio .grid-index .breveilus .breveilusimg {
          height: 100%;
          width: 25%;
          display: flex;
          background-image: url(../assets/imggaleria.jpeg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top; }
        .maininicio .bgimageinicio .grid-index .breveilus .breveilustxt {
          height: 100%;
          width: 75%;
          display: flex;
          flex-flow: column;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
          text-align: center;
          color: white;
          font-size: 25px; }
          .maininicio .bgimageinicio .grid-index .breveilus .breveilustxt h2 {
            margin-top: 50px;
            color: antiquewhite;
            display: block;
            position: sticky;
            text-align: center;
            font-family: 'Cinzel Decorative';
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            letter-spacing: 1px; }

footer {
  display: flex;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(0deg, rgba(255, 217, 102, 0.2), rgba(255, 217, 102, 0.2)), linear-gradient(0deg, rgba(255, 242, 204, 0.4), rgba(255, 242, 204, 0.4)), url(../assets/texturamezclado.jpeg);
  position: fixed;
  background-size: cover;
  bottom: 0;
  width: 100%;
  height: 6%;
  background-position: center;
  justify-content: center;
  align-items: center; }
  footer .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30%;
    padding: 5px; }
    footer .redes a img {
      height: 45px;
      width: 45px; }

.mainacerca {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/imgfondoautor.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 137px;
  border: 1px solid #000000;
  min-height: 108vh; }
  .mainacerca .acercatitulo {
    position: sticky;
    text-align: center;
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: bolder;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 86px;
    color: antiquewhite; }
  .mainacerca .vistaacerca {
    display: flex;
    flex-flow: row nowrap;
    height: 70vh;
    width: 75%;
    margin: 0 auto;
    margin-top: 5%; }
    .mainacerca .vistaacerca .imgautoracerca {
      display: flex;
      background: url(../assets/imgautor.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 50%;
      height: 100%; }
    .mainacerca .vistaacerca .txtautoracerca {
      display: flex;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
      width: 50%;
      height: 100%;
      text-align: center;
      color: white;
      align-items: center;
      justify-content: center;
      font-size: 30px; }

.mainproducto {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/imgfondoproducto.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 137px;
  border: 1px solid #000000;
  min-height: 108vh; }
  .mainproducto .productotitulo {
    position: sticky;
    text-align: center;
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 86px;
    color: antiquewhite; }
  .mainproducto .vistaproducto {
    display: flex;
    flex-flow: row wrap;
    height: 70vh;
    width: 75%;
    margin: 0 auto;
    margin-top: 5%; }
    .mainproducto .vistaproducto .imgproducto {
      display: flex;
      background: url(../assets/libro.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 50%;
      height: 100%; }
    .mainproducto .vistaproducto .txtvistaproducto {
      display: flex;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
      width: 50%;
      height: 100%;
      text-align: center;
      color: white;
      align-items: center;
      justify-content: center; }

.maintienda {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/imgtienda.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 137px;
  border: 1px solid #000000;
  background-position: center; }
  .maintienda .grid-tienda {
    display: grid;
    height: 100%;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.2fr 1.4fr 1.4fr 1.4fr 1.4fr 0.2fr;
    grid-template-rows: 0.4fr 1.7fr 1.7fr 0.2fr;
    gap: 2% 2%;
    grid-template-areas: ". . titulotienda titulotienda . ." ". cajatienda1 cajatienda2 cajatienda3 cajatienda4 ." ". cajatienda5 cajatienda6 cajatienda7 cajatienda8 ." ". . . . . ."; }
    .maintienda .grid-tienda .titulotienda {
      grid-area: titulotienda;
      align-items: center;
      justify-content: center;
      padding-bottom: 5%; }
      .maintienda .grid-tienda .titulotienda h2 {
        margin-top: 20px;
        position: sticky;
        text-align: center;
        font-family: 'Cinzel Decorative';
        font-style: normal;
        font-weight: bolder;
        font-size: 45px;
        letter-spacing: 2px;
        line-height: 40px;
        color: antiquewhite; }
    .maintienda .grid-tienda .cajatienda1 {
      grid-area: cajatienda1;
      display: flex;
      flex-flow: row;
      justify-content: space-between; }
      .maintienda .grid-tienda .cajatienda1 .imgcajatienda1 {
        background-image: url(../assets/imggaleria.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 50%; }
      .maintienda .grid-tienda .cajatienda1 .txtcajatienda1 {
        display: flex;
        color: antiquewhite;
        justify-content: center;
        width: 50%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        align-items: center; }
        .maintienda .grid-tienda .cajatienda1 .txtcajatienda1 p {
          text-align: center;
          padding: 5%;
          font-size: 20px; }
        .maintienda .grid-tienda .cajatienda1 .txtcajatienda1 a .botoncompra1 {
          display: inline-flex;
          border: 2px solid;
          color: antiquewhite; }
    .maintienda .grid-tienda .cajatienda2 {
      grid-area: cajatienda2;
      background-image: url(../assets/imggaleria.jpeg);
      background-size: 50%;
      background-repeat: no-repeat; }
    .maintienda .grid-tienda .cajatienda3 {
      grid-area: cajatienda3;
      background-image: url(../assets/imggaleria.jpeg);
      background-size: 50%;
      background-repeat: no-repeat; }
    .maintienda .grid-tienda .cajatienda4 {
      grid-area: cajatienda4;
      background-image: url(../assets/imggaleria.jpeg);
      background-size: 50%;
      background-repeat: no-repeat; }
    .maintienda .grid-tienda .cajatienda5 {
      grid-area: cajatienda5;
      background-image: url(../assets/imggaleria.jpeg);
      background-size: 50%;
      background-repeat: no-repeat; }
    .maintienda .grid-tienda .cajatienda6 {
      grid-area: cajatienda6;
      background-image: url(../assets/imggaleria.jpeg);
      background-size: 50%;
      background-repeat: no-repeat; }
    .maintienda .grid-tienda .cajatienda7 {
      grid-area: cajatienda7;
      background-image: url(../assets/imggaleria.jpeg);
      background-size: 50%;
      background-repeat: no-repeat; }
    .maintienda .grid-tienda .cajatienda8 {
      grid-area: cajatienda8;
      background-image: url(../assets/imggaleria.jpeg);
      background-size: 50%;
      background-repeat: no-repeat; }

.maingaleria {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/imggaleria.jpeg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 137px;
  border: 1px solid #000000;
  background-position: center; }
  .maingaleria .titulogaleria h2 {
    margin-top: 20px;
    position: sticky;
    text-align: center;
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: bolder;
    font-size: 45px;
    letter-spacing: 2px;
    line-height: 40px;
    color: antiquewhite; }
  .maingaleria .muestragaleria {
    height: 70%;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin-top: 5%;
    margin-left: 5%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); }
    .maingaleria .muestragaleria .imggaleria1 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/imginicio.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 30%;
      height: 90%;
      background-position: center; }
    .maingaleria .muestragaleria .imggaleria2 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/imgfondoproducto.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 30%;
      height: 90%;
      background-position: center; }
    .maingaleria .muestragaleria .imggaleria3 {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/imgtienda.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 30%;
      height: 90%;
      background-position: center; }

@media (max-width: 1024px) {
  .maingaleria .muestragaleria {
    width: 75%;
    height: 90%;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 3%; }
    .maingaleria .muestragaleria .imggaleria1 {
      width: 90%;
      height: 30%; }
    .maingaleria .muestragaleria .imggaleria2 {
      width: 90%;
      height: 30%; }
    .maingaleria .muestragaleria .imggaleria3 {
      width: 90%;
      height: 30%; } }

@media (max-width: 768px) {
  .mainacerca .vistaacerca {
    flex-flow: column nowrap;
    margin: 0 auto;
    margin-top: 3%; }
    .mainacerca .vistaacerca .imgautoracerca {
      width: 100%;
      height: 50%; }
    .mainacerca .vistaacerca .txtautoracerca {
      width: 100%;
      height: 50%; } }

@media (max-width: 560px) {
  header .navbar ul li {
    font-size: 20px; }
  header h1 {
    font-size: 55px; }
  .mainproducto .productotitulo {
    font-size: 30px; }
  .mainproducto .vistaproducto {
    flex-flow: column wrap;
    width: 100%; }
    .mainproducto .vistaproducto .imgproducto {
      width: 100%;
      height: 50%; }
    .mainproducto .vistaproducto .txtvistaproducto {
      width: 100%;
      height: 50%; }
      .mainproducto .vistaproducto .txtvistaproducto p {
        padding: 20px;
        font-size: 16px; } }

@media (max-width: 480px) {
  header .navbar ul li {
    font-size: 16px; } }

@media (max-width: 425px) {
  .maininicio .bgimageinicio .grid-index .breveautor .breveautortxt {
    font-size: 14px; }
    .maininicio .bgimageinicio .grid-index .breveautor .breveautortxt h2 {
      font-size: 16px; }
  .maininicio .bgimageinicio .grid-index .breveilus .breveilustxt {
    font-size: 14px; }
    .maininicio .bgimageinicio .grid-index .breveilus .breveilustxt h2 {
      font-size: 16px; }
  .maininicio .bgimageinicio .grid-index .tituloinicio h2 {
    font-size: 30px; }
  .mainproducto .vistaproducto {
    flex-flow: column wrap;
    width: 100%; }
    .mainproducto .vistaproducto .imgproducto {
      width: 100%;
      height: 50%; }
    .mainproducto .vistaproducto .txtvistaproducto {
      width: 100%;
      height: 50%; }
      .mainproducto .vistaproducto .txtvistaproducto p {
        padding: 20px;
        font-size: 13px; }
  footer .redes a img {
    height: 40px;
    width: 40px; } }

@media (max-width: 400px) {
  .mainproducto .productotitulo {
    font-size: 20px; }
  header .navbar ul li {
    font-size: 12px; }
  header h1 {
    font-size: 40px; }
  .maininicio .bgimageinicio .grid-index .tituloinicio h2 {
    font-size: 25px; } }

@media (max-width: 335px) {
  header .navbar ul li {
    font-size: 10px; }
  header h1 {
    font-size: 35px; } }
