.maintienda {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/imgtienda.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 137px;
    border: 1px solid #000000;
    background-position: center;

    .grid-tienda {
        display: grid;
        height: 100%;
        width: 100%;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 0.2fr 1.4fr 1.4fr 1.4fr 0.2fr;
        grid-template-rows: 0.4fr 1.7fr 1.7fr 0.2fr;
        gap: 2% 1%;
        grid-template-areas:
            ". . titulotienda . ."
            ". cajatienda1 cajatienda2 cajatienda3 ."
            ". cajatienda4 cajatienda5 cajatienda6 ."
            ". . . . .";

        .titulotienda {
            grid-area: titulotienda;
            align-items: center;
            justify-content: center;
            padding-bottom: 5%;

            h2 {
                margin-top: 20px;
                position: sticky;
                text-align: center;
                font-family: 'Cinzel Decorative';
                font-style: normal;
                font-weight: bolder;
                font-size: 45px;
                letter-spacing: 2px;
                line-height: 40px;
                color: $colortexto;
            }
        }

        .cajatienda1 {
            grid-area: cajatienda1;
            display: flex;
            flex-flow: column;
            justify-content: space-between;

            .imgcajatienda1 {
                background-image: url(../assets/imggaleria.jpeg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 40%;
                width: 100%;

            }

            .txtcajatienda1 {
                display: flex;
                color: antiquewhite;
                justify-content: center;
                width: 100%;
                height: 60%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
                align-items: center;
                flex-flow: column;

                p {
                    text-align: center;
                    padding: 5%;
                    font-size: 20px;
                }

                a {

                    .botoncompra1 {
                        display: inline-flex;
                        border: 2px solid;
                        color: $colortexto;

                }
            }
        }
    }

    .cajatienda2 {
        @extend .cajatienda1;
        grid-area: cajatienda2;

        .imgcajatienda2 {
            background-image: url(../assets/imgfondoautor.jpg);
            @extend .imgcajatienda1;
        }

        .txtcajatienda2 {
            @extend .txtcajatienda1;

            a {

                .botoncompra1 {
                    @extend .botoncompra1;

                }
            }
        }

    }

    .cajatienda3 {
        @extend .cajatienda1;
        grid-area: cajatienda3;

        .imgcajatienda3 {
            background-image: url(../assets/imgfondoproducto.jpg);
            @extend .imgcajatienda1;
        }

        .txtcajatienda3 {
            @extend .txtcajatienda1;

            a {

                .botoncompra1 {
                    @extend .botoncompra1;

                }
            }
        }
    }

    .cajatienda4 {
        @extend .cajatienda1;
        grid-area: cajatienda4;

        .imgcajatienda4 {
            background-image: url(../assets/imginicio.jpg);
            @extend .imgcajatienda1;
        }

        .txtcajatienda4 {
            @extend .txtcajatienda1;

            a {

                .botoncompra1 {
                    @extend .botoncompra1;

                }
            }
        }
    }

    .cajatienda5 {
        @extend .cajatienda1;
        grid-area: cajatienda5;

        .imgcajatienda5 {
            background-image: url(../assets/imgtienda.jpg);
            @extend .imgcajatienda1;
        }

        .txtcajatienda5 {
            @extend .txtcajatienda1;

            a {

                .botoncompra1 {
                    @extend .botoncompra1;

                }
            }
        }
    }

    .cajatienda6 {
        @extend .cajatienda1;
        grid-area: cajatienda6;

        .imgcajatienda6 {
            background-image: url(../assets/imggaleria.jpeg);
            @extend .imgcajatienda1;
        }

        .txtcajatienda6 {
            @extend .txtcajatienda1;

            a {

                .botoncompra1 {
                    @extend .botoncompra1;

                }
            }
        }
    }
}
}